footer {
  padding-top: 102px;
  gap: 24px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.p {
  border-radius: 5px;
  background: #dfe7ec;
  min-width: 64px;
  min-height: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  gap: 8px;
}

.score {
  width: 24px;
  color: #304859;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.player {
  width: 37px;
  color: #7191a5;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
}

.grid6x6 .num {
  width: 72.53px;
  height: 72.53px;
  gap: 12.29px;
}

.grid6x6 main {
  width: 343px;
}

.time-box {
  width: 151px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: #DFE7EC;
}

.move-box {
  width: 151px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: #DFE7EC;
}

.text {
  color: #7191A5;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.moves {
  color: #7191A5;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.time {
  color: #304859;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.number {
  color: #304859;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#mainMenu {
  display: none;
}

@media screen and (min-width: 768px) {
  footer {
    gap: 11px;
    padding: 128px 0 38px 0;
  }

  .p {
    min-width: 148px;
    min-height: 66px;
    align-items: inherit;
    padding: 14px 0 0 16px;
    border-radius: 10px;
  }

  .grid6x6 main {
    gap: 16px;
    padding-top: 122px;
    width: 572px;
  }

  .grid6x6 .num {
    width: 82px;
    height: 82px;
  }

  .time-box {
    width: 255px;
    height: 72px;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
  }

  .move-box {
    width: 255px;
    height: 72px;
    border-radius: 10px;
    flex-direction: row;
    justify-content: space-between;
  }

  .text {
    margin-left: 21px;
  }

  .moves {
    margin-left: 21px;
  }

  .time {
    margin-right: 24px;
  }

  .number {
    margin-right: 24px;
  }

  @media screen and (min-width: 1440px) {
    .p {
      width: 255px;
      height: 72px;
      justify-content: space-between;
      flex-direction: row;
      padding: 0 15px 0 21px;
      align-items: center;
    }

    footer {
      padding-top: 122px 0 72px 0;
      gap: 30px;
    }

    .player {
      font-size: 18px;
    }

    .score {
      font-size: 32px;
    }
  }
}